html * {
  font-family: Verdana, Tahoma, sans-serif
}

.main-description {
  font-size: 20px;
}

.game-preparation {
  height: 100%;  
  margin-left: 10%;
}

.bottom {
  border-collapse: collapse;
}

.top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
